<div *ngIf="areas != undefined" style="margin-bottom: 80px;">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto text-center" style="margin-top: 2rem; margin-bottom: 1rem;">
        <h2 class="contentsTitle">Crear Tipo</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 offset-lg-3 mx-auto text-left">
      <div class="register" style="margin-left: 15px;">
        <div class="container-request">
          <div id="fieldsInput" enctype="multipart/form-data" class="form-horizontal">
            <form #createTypeForm="ngForm">
                <div class="form-group">
                    <label class="control-label col-xs-3" for="area">Área:</label>
                    <div class="row">
                      <div class="col-lg-12">
                        <select class="form-control" [(ngModel)]="selectedAreaId" (change)="setTopicOfArea()" name="area" id="area">
                          <option value="" selected disabled hidden>Seleccionar</option>
                          <option *ngFor="let area of areas" [value]="area.id"> {{area.name}}</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="topic">Tema:</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <select class="form-control" [(ngModel)]="selectedTopicId" name="topic" id="topic">
                                <option value="" selected disabled hidden>Seleccionar</option>
                                <option *ngFor="let topic of topics" [value]="topic.id"> {{topic.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3" for="name">Nombre del Tipo:</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" required class="form-control" pattern=".*[a-zA-Z0-9].*$" id="email" name="name">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                  Añadir nuevo campo adicional
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Campo Adicional</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label class="control-label col-xs-3" for="name">Nombre del Campo Adicional:</label>
                          <div class="row">
                              <div class="col-sm-12">
                                  <input type="text" required class="form-control" pattern=".*[a-zA-Z0-9].*$" id="name" [(ngModel)]="afName"
                                  name="name">
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-xs-3" for="topic">Tipo de campo adicional:</label>
                          <div class="row">
                            <div class="col-sm-12">
                              <select class="form-control" [(ngModel)]="fieldType" name="topic" id="topic">
                                <option value="" selected disabled hidden>Seleccionar</option>
                                  <option value="0">Fecha</option>
                                  <option value="1">Texto</option>
                                  <option value="2">Entero</option>
                                  <option value="3">Bool</option>
                                </select>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="fieldType != 3 && fieldType != undefined" class="form-group">
                          <button class="btn btn-info" (click)="hasRange = true">Definir Rango de valores (Opcional)</button> 
                        </div>
                        <div *ngIf="hasRange && fieldType == 1" class="form-group">
                          <label class="control-label col-xs-3" for="topic">Ingrese los valores del rango separados por ; (Valor1;Valor2)</label>
                          <input type="text" required class="form-control" pattern=".*[a-zA-Z0-9].*$" id="rangeTextValues" name="name">
                        </div>
                        <div *ngIf="hasRange && fieldType == 2" class="form-group">
                          <label class="control-label col-xs-3" for="min">Ingrese valor mínimo del rango:</label>
                          <input type="number" required class="form-control" id="rangeNumberMinValue" name="name">
                          <label class="control-label col-xs-3" for="max">Ingrese valor máximo del rango:</label>
                          <input type="number" required class="form-control" id="rangeNumberMaxValue" name="name">
                        </div>
                        <div *ngIf="hasRange && fieldType == 0" class="form-group">
                          <label class="control-label col-xs-3" for="formato-fecha">Fechas se muestran en formato mm/dd/yyyy </label>
                          <label class="control-label col-xs-3" for="min">Ingrese valor mínimo del rango: </label>
                          <input type="date" id="rangeDateMinValue" value="2020-06-18">
                          <label class="control-label col-xs-3" for="max">Ingrese valor máximo del rango: </label>
                          <input type="date" id="rangeDateMaxValue" value="2020-06-19">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="createAdditionalField()" data-dismiss="modal">Confirmar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <br>
                        <input type="submit" [disabled]="createTypeForm.invalid" (click)="createType()" class="btn btn-info" value="Confirmar" name="submitButton" data-popup-open="popup-1">
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>