<div *ngIf="areas != undefined" style="margin-bottom: 80px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto text-center" style="margin-top: 2rem; margin-bottom: 1rem;">
        <h2 class="contentsTitle">Ver Mi Solicitud</h2>
    </div>
    <div class="mx-auto text-left">
        <div class="register" style="margin-left: 15px;">
            <div class="container-request">
                <div id="fieldsInput" enctype="multipart/form-data" class="form-horizontal">
                    <form class="col-lg-6 offset-lg-3" #checkRequestForm="ngForm">
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="name">Numero de Solicitud:</label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="number" required class="form-control" [(ngModel)]="requestNumber" id="check-num" name="name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <input type="submit" [disabled]="checkRequestForm.invalid" (click)="checkRequest()" class="btn btn-info" value="Confirmar" name="submitButton" data-popup-open="popup-1">
                            </div>
                        </div>
                    </form>
                    <div *ngIf="selectedRequest != undefined">
                        <app-create-request  [displayedRequest]="selectedRequest" [areas]="areas"></app-create-request>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>